.admin-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 20px;
}

mat-form-field {
  width: 100%;
}

hr {
  margin: 20px 0;
}

mat-chip-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}